*{
    padding: 0%;
    margin: 0%;
}
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(28, 35, 73);
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons{
    display: flex;
    flex-wrap: wrap;
}
.github{
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
    margin: 0px 10px;
    text-align: center;
    color: rgb(28, 35, 73);
}
@media screen and (max-width:470px) {
    .footer{
        flex-direction: column;
    }
}
